<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<nav id="main-nav">
    <h1>Python BoardGameGeek: Main Nav</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add-user">Add a User</a></li>
        <li><a href="/users">View All Users</a></li>
    </ul>
</nav>
<nav id="api-nav">
    <p>And here are some API endpoints you can check out:</p>
    <ul>
        <li><a href="/api/v1/users">Users</a></li>
        <li><a href="/api/v1/games">Games</a></li>
    </ul>
</nav>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
