{% extends 'base.html' %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}

<div>
    <p>For now, the only way to create a user's collection is to send a POST request to
    /api/v1/users/(username)/collection, where "username" is the BoardGameGeek username of
    the user whose collection you'd like to download.</p>

    <p>Once you have created that user, you can attempt to view their profile at "/users/(username)" (or check the users
        table in the database) to confirm that it worked! The user's profile page should list the full set of games
        listed in the user's profile on BoardGameGeek.com.</p>

    <p>This, of course, will change with time. More to come!</p>
</div>
{% endblock %}
